

.cabecalho{
    background: #BBBBBB;
    padding: 20px 0;
}

.menu{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
    

}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    
}


#banner{
    width: 100%;
    
} 

.principal{
    background: #CCCCCC;
    padding: 30px;
}

.logo{
    padding-left: 20px;
}

.titulo-principal{
    text-align: center;
    
}

p{
    text-align: center;

}

#missao{
    text-align: center;
    font-size: 20px;
    color: rgb(255,0,0);
}

.beneficios{
    background: #ffffff;
    padding: 20px;
}


.lista-beneficios{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
} 

.itens{

    font-style: italic;

}

.imagem-beneficios{
    width: 50%;
}

 
